.showcase {
  border: 3rem solid white;
  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    min-height: 25rem;
    background-size: cover;
    border-radius: 2rem;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}
